<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
    		  <% if user_signed_in? %>
    			<%= render 'layouts/signed_in_navigation' %>
    		  <% else %>
    			<%= render 'layouts/signed_out_navigation' %>
    		  <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>